{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>
<body>
    {% if messages %}

    <div class="message-container">

        {% for message in messages %}

            <div class="alert {{ message.tags }}">

                {{ message }}

            </div>

        {% endfor %}

    </div>

{% endif %}
<div class="container">

    <div class="form-box">

        <h1>Welcome Back</h1>

        <form method="POST">

            {% csrf_token %}

            <input type="email" name="email" placeholder="Email">

            <input type="password" name="password" placeholder="Password">

            <button type="submit">Login</button>

        </form>

        <p class="error">{{ error }}</p>

        <p>
            New User?
            <a href="{% url 'registration' %}">Signup</a>
        </p>

    </div>

</div>

<script>
    console.log("Authentication System Loaded");
</script>

<script>

    setTimeout(() => {

        const alerts = document.querySelectorAll('.alert');

        alerts.forEach(alert => {

            alert.style.display = 'none';

        });

    }, 3000);

</script>

</body>
</html>