{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<div class="dashboard-container">

    <div class="dashboard-card">

        <h1>Dashboard</h1>

        <h2>Welcome {{ user.username }}</h2>

        <h2>Your Role Is {{ user.role }}</h2>

        <p>Your account is successfully logged in.</p>

        <a href="/logout/" class="logout-btn">Logout</a>

    </div>

</div>

<script>
    console.log("Authentication System Loaded");
</script>

</body>
</html>